form
{
	color : white;
	text-align: center;
	background-color: #57B8F0;
	width: 300px;
	padding: 15px;
	margin: 400px auto;
	border-radius: 5px;
}
.post
{
	padding: 30px;
	background-color: #A0C0FF;
}